.nav-list {
  display: none;
}

.contact-list {
  display: none;
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  color: var(--color-accent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .link:hover,
.header .link:focus {
  color: var(--color-accent);
}

.logo {
  @include font(24px, 700, 28px);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100%;
}

//.wrapper {
//  flex: 1;
//}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10px;
  right: 15px;

  &:hover .mobile-menu__close-icon,
  &:focus .mobile-menu__close-icon {
    fill: var(--color-accent);
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;

}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1;

}

.mobile-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.mobile-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact {
  margin-top: 306px;
}

.mobile-contact__item {
  margin-bottom: 64px;
}

.mobile-contact__list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-primary);

}

.social-network__item {
  display: flex;
  align-items: center;
  position: absolute;
}

.social-network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--color-accent);

}

.social-network {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  position: absolute;
  bottom: 46px;
}

.social-network__list:not(:last-child) {
  margin-right: 20px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    top: 9px;

  }
}

// 768px +
@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
  }
  .contact-list {
    display: block;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ECECEC;
  }

  .navigation {
    display: flex;
    align-items: center
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-dark);


    &::after {
      content: "";
      position: absolute;
      bottom: -32px;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: var(--color-accent);
      border-radius: 2px;
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .current::after {
    opacity: 1;
  }

  .navigation .logo {
    margin-right: 77px;
  }
  .logo {
    @include font(24px, 700, 28px);

  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact-list__item .link {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(12px, 500, 14px);
    letter-spacing: 0.02em;
    color: var(--color-primary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__item span {
    margin-left: 8px;

  }
  .header .social-icon {
    width: auto;
    height: auto;
    fill: #757575;

  }

}

// 1200px +
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo {
    margin-right: 93px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .contact-list__item {
    letter-spacing: 0.02em;


    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  .header__container .link:hover svg {
    fill: var(--color-accent);
  }
  .contact-list__item span {
    margin-left: 10px;
  }
}










































