:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: "Raleway", sans-serif;
  --ff-logo: "Oleo Script", cursiv;
  --bc-dark: #2F303A;
  --bc-light: #F5F4FA;
  --bc-primary: #E5E5E5;
  --color-primary: #757575;
  --color-dark: #212121;
  --color-light: #FFFFFF;
  --bc-accent: #424242;
  --color-accent: #2196F3;
  --focus-button: #188CE8;
}